.filter-card {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Sabit genişlik */
    height: auto; /* Yükseklik otomatik */
  }
  
  .filter-card .ant-checkbox-wrapper {
    display: block;
    margin-bottom: 8px;
  }
  