/* login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Başlık ve formu ortalamak için */
  }
  
  .login-card .ant-card-head-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .login-card .ant-form-item {
    margin-bottom: 16px;
  }
  
  .login-card .ant-btn {
    width: 100%;
    background-color: #1890ff;
    border-color: #1890ff;
    color: white;
  }
  
  .login-card .ant-btn:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }
  
  .login-card .ant-input {
    height: 40px;
  }
  
  .login-card .ant-input-password {
    height: 40px;
  }
  